.anime-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid var(--main-color);
  background-color: var(--secondary-color);
  font-family: "Quicksand", sans-serif;
  border-radius: 20px;


  max-width: 350px;
  min-width: 270px;

  cursor: pointer;

  overflow: hidden;
}

.anime-card .title {
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  margin: 10px;

  transition: .1s ease;
}

.anime-card:hover .title {
  color: var(--main-color);
}

.anime-card img {
  border-top: 2px solid var(--main-color);
  border-radius: 20px;

  width: 100%;
  height: 100%;
  object-fit: cover;

  transition: transform .1s ease;
}

.anime-card:hover img {
  transform: translateY(10px);
}